/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/10/2016, 13:11:24
    Author     : Cleber
*/

.input_manutencao{
    color: black;
    width: 200px;
    height: 27px;

}

.select_manutencao{
    color: black;
    width: 200px;
    height: 27px;
    font-size: 13px;
}

.tela_manutencao{
    background: lightgrey;
    box-shadow: 0px 0px 5px white;
    padding: 20px;
}

label{
    margin-left: -250px;
    display: inline-block;
    width:   250px;
    text-align: right;
}

.btnManutencao{
    margin-top: 5px;
    background: grey;
    border: 1px solid grey;
}

.btnManutencao:hover{
    background: #286090;
    box-shadow: 0px 0px 5px white;
}

.input_hide{
    display: none;
}

.precoTotal{
    width: 80px;
    text-align: right;
}

.codigo, .quantidade{
    width: 50px;
    text-align: right;
}

.preco{
    width: 80px;
    text-align: right;
}

.div_grid_manutencao{
    margin: auto;
    width: 700px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    background: #ccc;
}

.div_grid_manutencao .input_manutencao{
    height: 25px;
}

.div_grid_manutencao p{
    margin-top: 5px;
}

#valorPgto{
    margin-top: 10px;
    width: 125px;
}

.text-area{
    height: 100px;
}