/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2016, 21:27:15
    Author     : 33873
*/


.form-signin{
    width: 400px;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .form-signin{
        width: auto;
    }
}

tr{
    cursor: pointer;
}

.table-striped > tbody > tr:nth-of-type(even){
    background-color: gray;
}

.table-striped > tbody > tr:nth-of-type(odd):hover{
    background-color: #337AB7;
}
.table-striped > tbody > tr:nth-of-type(even):hover{
    background-color: #337AB7;
}

#tituloColuna{
    background: #286090;
    cursor: default;   
}

#btnSelecionar{
    display: none;
}
